.confirmationModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 600;
    background: rgba(218, 200, 200, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}
.confirmationModal__container {
    display: flex;
    flex-direction: column;

    width: 400px;
    height: 200px;
    padding: 32px;
    justify-content: space-between;
    background: #fff;
}
.confirmationModal__header {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    margin: 0 0 32px 0;
}
.confirmationModal-btnGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
