.newCardModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 600;
    background: rgba(218, 200, 200, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}
.newCardModal__container {
    display: flex;
    flex-direction: column;

    width: 400px;
    height: 300px;
    padding: 32px;
    background: #fff;
}
.newCardModal__title {
    margin: 0 0 32px 0;
    border-radius: 4px;
    padding: 8px 16px;

    border: 1px solid #000;
}
.newCardModal__content {
    border-radius: 4px;
    padding: 8px 16px;
    resize: none;
    flex: 1 1 auto;
    margin: 0 0 32px 0;
    border: 1px solid #000;
}
.newCardModal-btnGroup {
    align-self: flex-end;
    display: flex;
    gap: 24px;
}
